h1 {
    text-align: center;
    font-weight: lighter;
}
​
.sombra {
    /* angulo, distancia, blur  */
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

.form-control,
.btn {
    border-radius: 0px;
}
​
.parsley-errors-list {
    color: #f00;
}
​
.parsley-error {
    border: 1px solid #f00;
}

#mapContainer {
    height: 380px;
}